{% extends "base.html" %}
{% block content %}

<h1>Signup</h1>
<!--Username-->
<form name="signup">
    <table>
        <tr>
            <th>Username</th>
            <th><input type="text" name="username"/></th>
        </tr>
        <tr>
            <th>Password</th>
            <th><input type="password" name="password"/></th>    
        </tr>
        <tr>
            <th>Verify Password</th>
            <th><input type="password" name="verify"/></th>    
        </tr>
        <tr>
            <th>Email (optional)</th>
            <th><input type="text" name="email"/></th>    
        </tr>
    </table>
    <input type="submit"/>
</form>


{% endblock %}